<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end" defaultHref="/tabs/episodes">
      <ion-back-button></ion-back-button> 
    </ion-buttons>
    <ion-title class="ion-text-center">EPISODE DETAILS</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="episode" class="episode-card">

    <ion-item class="episode-title" lines="none">
      <ion-icon name="text-outline" slot="start"></ion-icon>
      Title: {{ episode.title }}
    </ion-item>

    <ion-item> 
      <ion-icon name="film-outline" slot="start"></ion-icon>
     Season: {{ episode.season }} Episode: {{ episode.episode }}
    </ion-item>

    <ion-item>
      <ion-icon name="calendar-number-outline" slot="start"></ion-icon>
      Release Date: {{ episode.air_date }}
    </ion-item>
    
    <ion-item>  
      <ion-icon name="accessibility-outline" slot="start"></ion-icon>
      Characters: {{ episode.characters }} 
    </ion-item>

    <ion-item >  
    <ion-icon name="videocam-outline" slot="start"></ion-icon>
     Series: {{ episode.series }}
    </ion-item>
  </ion-card>
