<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end" defaulthref="/tabs/characters">
      <ion-back-button>RETURN</ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">{{ character?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="character" class="character-card">

    <ion-item lines="none">
      <ion-icon name="document-lock-outline" slot="start"></ion-icon>
      Nickname: {{ character.nickname }}
    </ion-item>

    <ion-item lines="none">
      <ion-icon name="calendar" slot="start"></ion-icon>
      Birthday: {{ character.birthday }}
    </ion-item>

    <ion-item>
      <ion-icon name="id-card-outline" slot="start"></ion-icon>
      Occupation: {{ character.occupation }}
    </ion-item>

    <ion-item class="character-info">
      <ion-icon name="alert-circle-outline" slot="start"></ion-icon>
      Status: {{ character.status }}
    </ion-item>

  </ion-card>
</ion-content>